parameters:
	ignoreErrors:
		-
			rawMessage: 'Method App\Application\DTO\MeOutput::__construct() has parameter $roles with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Application/DTO/MeOutput.php

		-
			rawMessage: 'Parameter #1 $length of function random_bytes expects int<1, max>, int given.'
			identifier: argument.type
			count: 1
			path: src/Application/Service/TokenManager.php

		-
			rawMessage: 'Parameter $roles of class App\Application\DTO\AdminUserOutput constructor expects list<string>, array<string> given.'
			identifier: argument.type
			count: 1
			path: src/Application/Service/UserOutputMapper.php

		-
			rawMessage: 'Method App\Domain\Entity\User::__construct() has parameter $roles with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Domain/Entity/User.php

		-
			rawMessage: 'Method App\Domain\Entity\User::changeRoles() has parameter $roles with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Domain/Entity/User.php

		-
			rawMessage: 'Method App\Domain\Entity\User::getUserIdentifier() should return non-empty-string but returns string.'
			identifier: return.type
			count: 1
			path: src/Domain/Entity/User.php

		-
			rawMessage: Instantiated class Symfony\Component\Messenger\Exception\MessageEncodingFailedException not found.
			identifier: class.notFound
			count: 2
			path: src/Infrastructure/Messaging/Transport/JsonMessengerSerializer.php

		-
			rawMessage: 'Method App\Infrastructure\Messaging\Transport\JsonMessengerSerializer::decode() has parameter $encodedEnvelope with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Infrastructure/Messaging/Transport/JsonMessengerSerializer.php

		-
			rawMessage: 'Method App\Infrastructure\Messaging\Transport\JsonMessengerSerializer::encode() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Infrastructure/Messaging/Transport/JsonMessengerSerializer.php

		-
			rawMessage: Throwing object of an unknown class Symfony\Component\Messenger\Exception\MessageEncodingFailedException.
			identifier: class.notFound
			count: 2
			path: src/Infrastructure/Messaging/Transport/JsonMessengerSerializer.php

		-
			rawMessage: 'Class App\Infrastructure\Persistence\Doctrine\Repository\AccessTokenRepository extends generic class Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository but does not specify its types: TEntityClass'
			identifier: missingType.generics
			count: 1
			path: src/Infrastructure/Persistence/Doctrine/Repository/AccessTokenRepository.php

		-
			rawMessage: 'Class App\Infrastructure\Persistence\Doctrine\Repository\LoginTokenRepository extends generic class Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository but does not specify its types: TEntityClass'
			identifier: missingType.generics
			count: 1
			path: src/Infrastructure/Persistence/Doctrine/Repository/LoginTokenRepository.php

		-
			rawMessage: 'Class App\Infrastructure\Persistence\Doctrine\Repository\UserRegistrationContextRepository extends generic class Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository but does not specify its types: TEntityClass'
			identifier: missingType.generics
			count: 1
			path: src/Infrastructure/Persistence/Doctrine/Repository/UserRegistrationContextRepository.php

		-
			rawMessage: 'Method App\Infrastructure\Persistence\Doctrine\Repository\UserRegistrationContextRepository::findOneByUser() should return App\Infrastructure\Persistence\Doctrine\Entity\UserRegistrationContext|null but returns object|null.'
			identifier: return.type
			count: 1
			path: src/Infrastructure/Persistence/Doctrine/Repository/UserRegistrationContextRepository.php

		-
			rawMessage: 'Class App\Infrastructure\Persistence\Doctrine\Repository\UserRepository extends generic class Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository but does not specify its types: TEntityClass'
			identifier: missingType.generics
			count: 1
			path: src/Infrastructure/Persistence/Doctrine/Repository/UserRepository.php

		-
			rawMessage: 'Method App\Infrastructure\Persistence\Doctrine\Repository\UserRepository::findByEmail() should return App\Domain\Entity\User|null but returns object|null.'
			identifier: return.type
			count: 1
			path: src/Infrastructure/Persistence/Doctrine/Repository/UserRepository.php

		-
			rawMessage: 'Method App\Infrastructure\Persistence\Doctrine\Repository\UserRepository::findById() should return App\Domain\Entity\User|null but returns object|null.'
			identifier: return.type
			count: 1
			path: src/Infrastructure/Persistence/Doctrine/Repository/UserRepository.php

